*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ---------------------loading Styling------------- */
.loadingScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F1F1F1;
}
.loader{
  position: relative;
  -webkit-box-reflect: below -28px linear-gradient(transparent,#0002);
}

.loader::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #ff711e;
  animation: blinkCursor .8s steps(3) infinite;
}
@keyframes blinkCursor{
  0%,75%{
    opacity: 1;
  }
  76%,100%{
    opacity: 0;
  }
}


.loader h2{
  position: relative;
  color: #ff711e;
  letter-spacing: 3px;
  font-size: 4em;
  text-transform: uppercase;
  animation: typing 5s steps(7) forwards;
  overflow: hidden;

}
@keyframes typing{
  0%,90%,100%{
    width:0;
  }
  30%,60%{
    width:343px;
  }
}


/* ---------------------loading Styling------------- */


body {
  
  justify-content: center;
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-position: center;
  color: #333333;
  
}

#content{
  justify-content: space-between;

  min-height: 70vh;
  flex-direction: column;
}

header {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 80px;
}

header h1 {
  margin-left: 1em;
  color: #4CAF50;
}



#ingredient-form {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:#ffffff;
}

#ingredients {
  width: 70%;
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid #4CAF50;
  border-radius: 5px;
}

button {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #3c9f40;
}


p{
  color:#ffffff;
}

#recipe-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.recipe {
  margin: 1em 0;
  font-size: 1.2em;
}

.recipe a {
  color: #4CAF50;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 2em;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}
#left-align{
  text-align:left;
}



@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: 1em;
  }

  #ingredient-form {
    width: 100%;
  }

  #recipe-container {
    width: 100%;
  }
}
